
// @import "../breakpoints/breakpoints.scss";




.header {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    font-size: 14px;
    box-sizing: border-box;
    // box-shadow: 1px 1px 5px 1px rgba(130, 102, 255, 0.55);


    

    .header__logo {
        
        display: flex;
        justify-content: space-between;

        .header__logo_school{
            font-weight: bold;
            padding: 0 20px;

        }

        .header__logo__img > img {
            position: relative;
            width: 50px;
            top: -50%;  

        }     
    }

    .header__menu{

       


            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;

                li {
                    padding: 10px 20px;

            

                    a {
                        text-decoration: none;
                        color: black;
                        transition: 0.3s ;

                        &:hover{
                            scale: 1.2;
                            color:#134c93 ;
                            font-weight: 600;
                            
                        }
                    }
                }

                .signin {
                    border: 3px solid #40618a;
                    color: #134c93;
                    font-weight: bold;
                    transition: 0.3s ;

                    &:hover {
                        // scale: 1.2;
                        border: 4px solid #40618a;
                    }
                }
            }
        } 
}