
@import "./breakpoints.scss";




.header {
    width: 100%;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-pack: justify;
    // ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 20px;
    font-size: 14px;
    box-sizing: border-box;
    // background-color: white !important;

    

    .header__logo {
        
        display: flex;
        justify-content: space-between;

        .header__logo_school{
            font-weight: bold;
            padding: 0 20px;

        }

        .header__logo__img > img {
            position: relative;
            width: 50px;
            top: -50%;  

        }     
    }

    .header__menu{

       


            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;

                li {
                    padding: 10px 20px;

            

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }

                .signin {
                    border: 3px solid #134c93;
                    color: #134c93;
                    font-weight: bold;
                }
            }
        } 
}